
<div data-hook="admin_ingredient_form">
  <div class="col-md-12" data-hook="admin_ingredient_left">
    <div class = "col-md-12"  class="" data-hook="admin_ingredient_form_name">
      <%= f.field_container :name, class: ['form-group'] do %>
        <%= f.label :name, raw(Spree.t(:ingredient_name) + content_tag(:span, ' *', class: 'required')) %>
        <%= f.text_field :name,name: "ingredient[name]", class: 'form-control title' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div class = "col-md-12" class="" data-hook="admin_ingredient_form_description">
      <%= f.field_container :description, class: ['form-group'] do %>
        <%= f.label :description, raw(Spree.t(:description)) %>
        <%= f.text_area :description,name: "ingredient[description]",rows: 5, class: 'form-control title' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

  </div>

</div> <!--- end admin_product_form_fields-->
