<% content_for :page_title do %>
  <%= link_to Spree.t(:ingredients), admin_ingredients_url %>
  / <%=@ingredient.name %>
<% end 
%>
<%= render partial: 'spree/admin/shared/ingredient_tabs', locals: {current: :details} %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @ingredient } %>
<%= form_for @ingredient, method: :put, :url => admin_ingredient_url(@ingredient), :html => {:id => "edit_ingredient", :multipart => true} do |f| %>
	<fieldset data-hook="edit_ingredient">
		<%= render :partial => 'form', :locals => { :f => f } %>
		<div class="form-buttons filter-actions actions col-md-12" data-hook="buttons">
	        <%= button Spree.t('actions.update'), 'ok' %>
	        <span class="or"><%= Spree.t(:or) %></span>
	        <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_ingredients_url, :class => 'button' %>
	    </div>
    </fieldset>
<% end %>
