
<%= render partial: 'spree/admin/shared/product_tabs', locals: {current: :nutritions} %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>

<%= form_for @product, method: :put, :url => admin_product_url(@product), :html => {:id => "edit_product", :multipart => true} do |f| %>
  <fieldset>
    <div id='nutritions' data-hook>
    <%= f.field_container :nutrition_ids, class: ['form-group'] do %>
      <%= f.label :nutrition_ids, Spree.t(:nutritions) %><br>
      <%= f.select :nutrition_ids, Dish::Nutrition.all.map { |p| ["(#{p.name})","(#{p.name})", p.id] }, {}, { multiple: true, class: "select2" } %>
    <% end %>
  </div>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'ok' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_products_url, :class => 'button' %>
  </div>

  </fieldset>
<% end %>
<% if @product.nutritions.any? %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col-md-2"><%= Spree.t(:name) %></th> 
      <th class="col-md-4">Quantity</th>
      <th class="col-md-4">Unit</th>
    </tr>
  </thead>

  <tbody>
    <% @product.products_nutritions.each do |pi| %>
      <tr>
        <td ><%= pi.nutritions.name %></td> 
        <td ><%= pi.quantity %> </td>
        <td ><%= pi.unit %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%end%>