<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @dish_type } %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:dish_types), admin_dish_types_url %>
  /  <%=@dish_type.name %>
<% end %>

<%= form_for [ @dish_type, @dish_type_image],url: admin_dish_type_dish_type_images_url(@dish_type), html: { multipart: true } do |f| %>
  <fieldset data-hook="new_image">
  
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.admin_dish_type_dish_type_images_url(@dish_type), icon: 'delete', id: 'cancel_link' %>
    </div>
  </fieldset>
<% end %>
