<% content_for :page_title do %>
  <%= link_to Spree.t(:nutitions), admin_ingredients_url %>
  / New
<% end 
%>

<%= form_for @nutrition, url: admin_nutritions_url(@nutrition), method: 'POST', html: { id: "new_nutrition", multipart: true } do |f|%>
	<fieldset data-hook="new_nutition">
		<%= render :partial => 'form', :locals => { :f => f } %>
		<div class="form-actions" data-hook="buttons">
		  <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success'} %>
		  <span class="or"><%= Spree.t(:or) %></span>
		  <%= button_link_to Spree.t('actions.cancel'), admin_nutritions_url, :icon => 'remove' %>
		</div>
	</fieldset>
<% end %>





